*{
    letter-spacing: 1px;
    user-select: none;
}

.handjet-<uniquifier> {
  font-family: "Handjet", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Handjet", system-ui;
    background: #000;
    color: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

span{
    color: red;
    text-shadow: 0 0 20px red;
}

.form-container {
    background: #222;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border: 1rem solid red;
    text-align: center;
    overflow: hidden;
}

.title {
    color: #0f0;
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #0f0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], select {
    padding: 10px;
    border: 1px solid #0f0;
    border-radius: 5px;
    background: #111;
    color: #0f0;
    box-shadow: inset 0 0 5px rgba(0, 255, 0, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="text"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder {
    color: grey;
}

input:focus, select:focus {
    outline: none;
    background: #333;
    box-shadow: 0 0 1.3rem #0f0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0f0;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    transition: background-color 0.3s;
}

button:hover {
    background: #0c0;
}